* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
	--dark-violet: hsl(256, 26%, 20%);
	--greyish-blue: hsl(216, 30%, 68%);
	--very-dark-violet: hsl(270, 9%, 17%);
	--dark-grayish-violet: hsl(273, 4%, 51%);
	--very-light-gray: hsl(0, 0%, 98%);
}

header {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
header nav {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
}

header nav .container .flex {
    display: flex;
    width: 100%;
}

header nav .hamburger {
	display: none;
}

header nav .hamburger:focus {
	outline: none;
}

header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0;
    margin-top: 5px;
}

header nav li {
	margin-left: 30px;
}

header nav li a {
	color: var(--dark-grayish-violet);
	text-transform: uppercase;
	text-decoration: none;
    font-weight: 700;
}
header nav li a:hover {
	color: var(--dark-violet);
	text-transform: uppercase;
	text-decoration: none;
}

.btn-reverse {
    background-color: transparent;
	border: 2px solid var(--very-dark-violet);
	display: flex;
	color: var(--very-dark-violet);
	cursor: pointer;
	padding: 5px 10px;
	text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
.btn-reverse:hover {
    background-color: var(--very-dark-violet);
	border: 2px solid var(--very-dark-violet);
	display: inline-block;
	color: var(--very-light-gray);
}

main {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-violet);
    position: relative;
    width: 100%;
}

main::after {
	content: '';
	background-image: url('/images/bg-pattern-intro-right-desktop.svg');
	background-repeat: no-repeat;
	background-position: top right;
    background-size: 350px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	z-index: 2;
}

main::before {
	content: '';
	background-image: url('/images/bg-pattern-intro-left-desktop.svg');
	background-repeat: no-repeat;
	background-position: bottom left;
	position: absolute;
	bottom: -50%;
	left: 0;
	height: 100%;
	width: 200px;
	z-index: 0;
}

main article {
    color: white;
    width: 70%;
}

main div {
    width: 100px;
    border: 1px solid white;
    margin-bottom: 20px;
    background-color: white;
}

main h1 {
    font-family: 'DM Serif Display', serif;
    width: calc(80% / 3);
}

main article p {
    color: var(--dark-grayish-violet);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    width: calc(95% / 2);
}

main article button {
    background-color: transparent;
    padding: 8px;
    width: 150px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    border: none;
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    transition: 0.3s ease;
}

main article button:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
    border: 2px solid transparent;
}

main figure {
    position: absolute;
    right: 100px;
    top: 40px;
    background-image: url(/images/image-intro-desktop.jpg);
    background-size: cover;
    width: 500px;
    height: 500px;
}

section {
    padding: 0 20px;
	margin: 100px auto 0 auto;
	max-width: 100%;
    width: 1200px;
}

section h2 {
    margin-bottom: 60px;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}
section .line-top {
    width: 100px;
    border: 1px solid rgb(134, 134, 134);
    margin-bottom: 20px;
    background-color: rgb(165, 165, 165);
}

section article {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

section  article .c01, .c02, .c03 {
    display: block;
}

section span {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 18px;
}
section article p {
    font-family: 'Karla', serif;
    font-weight: 400;
    color: var(--dark-grayish-violet)
}

.container {
    padding: 0 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
    display: flex;
}

.flex {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.bg-violet {
	background-color: var(--dark-violet);
	background-image: url('/images/bg-pattern-how-we-work-desktop.svg');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 50% 100%;
	padding: 70px;
	margin: 100px auto;
    
}

.bg-violet h2 {
	color: #fff;
	font-size: 3em;
	padding: 0;
	width: 60%;
}

.btn-bg {
	background-color: transparent;
	border: 2px solid #fff;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	padding: 15px 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.btn-bg:hover {
    background-color: var(--very-light-gray);
    color: var(--very-dark-violet);
    border: 2px solid transparent;
}

footer {
	background-color: var(--very-light-gray);
	background-image: url('/images/bg-pattern-footer-desktop.svg');
	background-repeat: no-repeat;
	background-position: top left;
	padding: 60px 0 30px;
    
}

footer .container-footer {
        padding: 0 20px;
        margin: 0 auto;
        max-width: 100%;
        width: 1200px; 
}

footer h4 {
	color: var(--dark-grayish-violet);
	text-transform: uppercase;
    margin-bottom: 20px;
}

footer ul {
	padding: 0;
	list-style-type: none;
}

footer ul .flex li:nth-last-child(1) {
	margin-left: 15px;
}

footer li a i {
	color: var(--dark-grayish-violet);
	text-transform: uppercase;
	text-decoration: none;
    margin: 0 5px;
    font-size: 24px;
}

footer li a i:hover {
	color: var(--very-dark-violet);
}

footer .text-footer li a {
	color: var(--dark-violet);
	text-transform: uppercase;
	text-decoration: none;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

footer .text-footer li a:hover {
	text-decoration: underline;
}

.border-bottom {
	border-bottom: 1px solid var(--greyish-blue);
	margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    header nav {
		padding: 20px 0;
	}

	header nav .hamburger {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		display: flex;
	}

	header nav .hamburger .close {
		display: none;
	}

	header nav .hamburger.show .open {
		display: none;
	}

	header nav .hamburger.show .close {
		display: block;
	}

	header nav .flex {
		flex-direction: row;
        justify-content: space-around;
	}

	header nav .img-wrapper {
		text-align: left;
	}

	header nav ul {
		display: none;
	}

	header nav ul.show {
        background-image: url(/images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
		background-color: var(--very-dark-violet);
		display: flex;
		flex-direction: column;
		position: fixed;
		padding-top: 30px;
		margin: 0;
		top: 70px;
		left: 0;
		width: 100vw;
		height: calc(100vh - 70px);
		z-index: 100;
	}

	header nav ul li {
		margin: 20px 0;
	}

	header nav ul a {
		color: #fff;
	}

	.btn-reverse {
		border-color: #fff;
		color: #fff;
	}
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }
    main figure {
        position: relative;
        top: 10px;
        right: 0;
        background-image: url(/images/image-intro-desktop.jpg);
        background-size: cover;
        width: 100vw;
        height: 700px;
    }
    main::after{
        display: none;
    }
    main::before{
        display: none;
    }
    main article {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    main h1 {
        font-family: 'DM Serif Display', serif;
        width: calc(80% / 2);
    }
    main article div {
        display: none;
    }
    main article p {
        color: var(--dark-grayish-violet);
        font-family: 'Karla', sans-serif;
        font-weight: 400;
    }
    main article button {
        margin-bottom: 15px;
    }
    #s01 h2 {
        text-align: center;
    }
    #s01 .line-top {
        display: none;
    }
    section article {
        flex-direction: column;
        text-align: center;
    }
    .bg-violet {
        background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
    }
    .bg-violet .flex {
        flex-direction: column;
    }
    .bg-violet .flex div{
       text-align: center;
       display: flex;
       justify-content: center;
    }
    footer {
		background-image: url(/images/bg-pattern-footer-mobile.svg);
		background-size: 100% auto;
		background-position: top center;
	}
    .border-bottom {
        display: flex;
        flex-direction: column;
    }
    .align-start {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #footer-logo {
        margin-bottom: 30px;
    }
}